In [167]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import os
import tqdm
import glob
import pandas as pd

In [168]:
df = pd.read_csv("data/world_bank_data.csv")
print(os.getcwd())
df.head()
df["Series Name"]
df.columns

C:\Users\samue\Documents\GitHub\Data-Literacy-project

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2019 [YR2019]'],
      dtype='object')

In [169]:
df = df.dropna(subset = ["Series Name"])
df = df.drop(columns=["Series Code"])

In [170]:
df_pivot = df.set_index(["Country Name", "Series Name"], drop=True).unstack("Series Name")
df_pivot = df_pivot.drop(columns="Country Code")
df_pivot.columns = df_pivot.columns.droplevel(0)
#print(df_pivot.shape)
df_pivot["Country Name"] = df_pivot.index
#print(df_pivot["Country Name"])
df_pivot.reset_index(drop=True, inplace=True)#
#print(df_pivot.head())

In [171]:
df_dropped = df_pivot.dropna(axis=1, how="any")
df_dropped_2 = df_dropped.drop(columns=df_dropped.columns[(df_dropped == "..").any()])

#for i in range(0,439):
#    print(df_dropped_2.columns[i])
#df_dropped.loc[:, (df_dropped=="..").any()]
#df_dropped.drop(columns="Country Code").head()

### World Happiness Report 2019

In [172]:
happiness = pd.read_csv("data/world_happiness_report_2019.csv")
happy_country_list = list(happiness["Country (region)"])

indicators_country_list = df["Country Name"].drop_duplicates()

In [173]:
intersection = set(indicators_country_list).intersection(happy_country_list)
non_intersection = set(indicators_country_list)^set(happy_country_list)
happy_non_intersection = set(happy_country_list).intersection(non_intersection)

LÃ¤nder die in den World Bank data nicht enthalten sind:
- Taiwan :(
- Cyprus

In [174]:
# list of tuples (happiness report name, world bank name)
happy_country_list_renamed = [
("Swaziland", "Eswatini"),
("Macedonia", "North Macedonia"),
("Kyrgyzstan", "Kyrgyz Republic"),
("Yemen", "Yemen, Rep."),
("Gambia", "Gambia, The"),
("Ivory Coast", "Cote d'Ivoire"),
("Venezuela", "Venezuela, RB"),
("South Korea", "Korea, Rep."),
("Laos", "Lao PDR"),
("Hong Kong", "Hong Kong SAR, China"),
("Congo (Kinshasa)", "Congo, Dem. Rep."),
("Palestinian Territories", "West Bank and Gaza"),
("Congo (Brazzaville)", "Congo, Rep."),
("Iran", "Iran, Islamic Rep."),
("Egypt", "Egypt, Arab Rep."),
("Russia", "Russian Federation"),
("Slovakia", "Slovak Republic"),
("Bosnia and Herzegovina ", "Bosnia and Herzegovina"),
("Syria", "Syrian Arab Republic")]

for happy_name, wb_name in happy_country_list_renamed:
    for i in range(0, len(happiness["Country (region)"])):
        if happiness.loc[i, "Country (region)"] == happy_name:
            happiness.loc[i, "Country (region)"] = wb_name

In [179]:
happiness = happiness[happiness["Country (region)"].str.contains("Taiwan")==False]
happiness = happiness[happiness["Country (region)"].str.contains("Cyprus")==False]

df_pivot = df_pivot[df_pivot["Country Name"].isin(happiness["Country (region)"])]
df_pivot.index = df_pivot["Country Name"]

Series Name,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)","Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)",...,Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV,Country Name
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,..,..,97.7,96.9021900526337,100,..,..,..,..,..,...,..,..,..,..,..,..,..,28.9,500,Afghanistan
Albania,..,..,100,100,100,..,..,..,..,..,...,..,..,..,..,..,..,..,27.3,100,Albania
Algeria,..,..,99.5,98.6810562530181,99.8,..,..,..,..,..,...,..,..,..,..,..,0,3.8,45.5,200,Algeria
Argentina,..,..,100,100,100,..,..,..,..,..,...,..,..,..,..,..,..,..,30.8,1100,Argentina
Armenia,..,..,100,100,100,..,..,..,..,..,...,..,..,..,..,..,..,..,35.8,100,Armenia

In [184]:
df_pivot.index = df_pivot["Country Name"]

threshold = 10
delete_columns = []

for i in range(0, len(df_pivot.columns)):
    num_values = sum(df_pivot[df_pivot.columns[i]]=="..")
    #print(num_values)
    if num_values > threshold:
        delete_columns.append(df_pivot.columns[i])
        #df_pivot = df_pivot.drop(columns = df_pivot.columns[i])

KeyError: '[2 29 30 32 34 40 46 58 59 60 153 230 231 232 233 234 266 291 326 327 328\n 329 330 331 349 408 411 415 416 417 418 419 420 421 424 428 434 436 523\n 524 525 555 557 594 596 607 608 615 657 658 659 660 661 662 664 665 666\n 667 668 669 682 683 687 691 692 693 799 813 814 884 888 889 890 891 892\n 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910\n 911 912 913 914 921 922 941 942 976 977 978 979 1030 1070 1071 1074 1075\n 1076 1094 1096 1097 1098 1104 1108 1144 1146 1147 1149 1150 1195 1215\n 1221 1222 1223] not found in axis'

In [ ]:
df_pivot = df_pivot.drop(columns=delete_columns)
sorted(df_pivot.columns)