In [209]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import os
import tqdm
import glob
import pandas as pd

In [210]:
df = pd.read_csv("Data.csv")
df.head()
df["Series Name"]
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2019 [YR2019]'],
      dtype='object')

In [211]:
df = df.dropna(subset = ["Series Name"])
df = df.drop(columns=["Series Code"])
df.head()

,Country Name,Country Code,Series Name,2019 [YR2019]
0,Australia,AUS,Access to electricity (% of population),100
1,Australia,AUS,Adjusted savings: carbon dioxide damage (% of ...,1.11294140526482
2,Australia,AUS,"Adolescent fertility rate (births per 1,000 wo...",10.9366
3,Australia,AUS,Adolescents out of school (% of lower secondar...,1.97146999835968
4,Australia,AUS,"Adolescents out of school, female (% of female...",2.19272994995117

In [212]:
df_pivot = df.set_index(["Country Name", "Series Name"], drop=True).unstack("Series Name")
df_pivot = df_pivot.drop(columns="Country Code")
df_pivot.columns = df_pivot.columns.droplevel(0)
#print(df_pivot.shape)
df_pivot["Country Name"] = df_pivot.index
#print(df_pivot["Country Name"])
df_pivot.reset_index(drop=True, inplace=True)#
print(df_pivot.head())

Series Name ARI treatment (% of children under 5 taken to a health provider)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Access to clean fuels and technologies for cooking (% of population)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Access to electricity (% of population)  \
0                                              97.7
1                                  43.6406611120552
2                                  51.3414214713772
3                                               100
4                                              99.5

Series Name Access to electricity, rural (% of rural population)  \
0                                             96.9021900526337
1                                             28.8411502327975
2                                             26.5893676667704
3                                                          100
4                                             98.6810562530181

Series Name Access to electricity, urban (% of urban population)  \
0                                                          100
1                                             73.5898862435969
2                                             82.7088809503191
3                                                          100
4                                                         99.8

Series Name Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name  ...  \
0            ...
1            ...
2            ...
3            ...
4            ...

Series Name Women who believe a husband is justified in beating his wife when she argues with him (%)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Women who believe a husband is justified in beating his wife when she burns the food (%)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Women who believe a husband is justified in beating his wife when she goes out without telling him (%)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Women who believe a husband is justified in beating his wife when she neglects the children (%)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Women who believe a husband is justified in beating his wife when she refuses sex with him (%)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                           ..

Series Name Women who were first married by age 15 (% of women ages 20-24)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                            0

Series Name Women who were first married by age 18 (% of women ages 20-24)  \
0                                                           ..
1                                                           ..
2                                                           ..
3                                                           ..
4                                                          3.8

Series Name Women's share of population ages 15+ living with HIV (%)  \
0                                                         28.9
1                                             60.0624441147567
2                                             61.9900496076922
3                                                         27.3
4                                                         45.5

Series Name Young people (ages 15-24) newly infected with HIV  \
0                                                         500
1                                                          ..
2                                                          ..
3                                                         100
4                                                         200

Series Name                 Country Name
0                            Afghanistan
1            Africa Eastern and Southern
2             Africa Western and Central
3                                Albania
4                                Algeria

[5 rows x 1444 columns]

In [213]:
df_grouped = df.groupby("Country Name")
df_grouped.first()

,Country Code,Series Name,2019 [YR2019]
Country Name,,,
Afghanistan,AFG,Access to electricity (% of population),97.7
Africa Eastern and Southern,AFE,Access to electricity (% of population),43.6406611120552
Africa Western and Central,AFW,Access to electricity (% of population),51.3414214713772
Albania,ALB,Access to electricity (% of population),100
Algeria,DZA,Access to electricity (% of population),99.5
...,...,...,...
West Bank and Gaza,PSE,Access to electricity (% of population),100
World,WLD,Access to electricity (% of population),90.0970108968096
"Yemen, Rep.",YEM,Access to electricity (% of population),72.7517013549805
Zambia,ZMB,Access to electricity (% of population),43
Zimbabwe,ZWE,Access to electricity (% of population),41.0891075134277

In [214]:
df_dropped = df_pivot.dropna(axis=1, how="any")
#print(df_dropped.head())
df_dropped_2 = df_dropped.drop(columns=df_dropped.columns[(df_dropped == "..").any()])
#for i in range(0,439):
#    print(df_dropped_2.columns[i])
#df_dropped.loc[:, (df_dropped=="..").any()]
#df_dropped.drop(columns="Country Code").head()

In [215]:
question_list = [
    ('2019 [YR2019]', 'Access to electricity (% of population)'),
    
]

#df_dropped_2[question_list]
print(df_pivot.shape)
print(df_dropped_2.shape)
#df_dropped_2.columns[0]

(266, 1444)
(266, 1)

In [216]:
indicators_country_list = df["Country Name"].drop_duplicates()

World Happiness Report 2019

In [217]:
happiness = pd.read_csv("world-happiness-report-2019.csv")
happy_country_list = list(happiness["Country (region)"])

In [218]:
intersection = set(indicators_country_list).intersection(happy_country_list)
non_intersection = set(indicators_country_list)^set(happy_country_list)
happy_non_intersection = set(happy_country_list).intersection(non_intersection)
print(happy_non_intersection)
print(len(happy_non_intersection))
print(intersection)

{'Palestinian Territories', 'Egypt', 'Swaziland', 'Ivory Coast', 'Venezuela', 'Kyrgyzstan', 'Gambia', 'Iran', 'Taiwan', 'Hong Kong', 'Macedonia', 'Congo (Brazzaville)', 'Yemen', 'South Korea', 'Syria', 'Northern Cyprus', 'Russia', 'Congo (Kinshasa)', 'Slovakia', 'Bosnia and Herzegovina ', 'Laos'}
21
{'Netherlands', 'Belgium', 'El Salvador', 'Benin', 'Japan', 'Burundi', 'India', 'Italy', 'United Arab Emirates', 'Armenia', 'Jordan', 'Mauritania', 'Botswana', 'Dominican Republic', 'Albania', 'Finland', 'Ireland', 'Georgia', 'Honduras', 'Lithuania', 'Morocco', 'Spain', 'Gabon', 'Guatemala', 'New Zealand', 'Vietnam', 'Ethiopia', 'Comoros', 'Luxembourg', 'Saudi Arabia', 'Iceland', 'Mali', 'Kosovo', 'Cyprus', 'United States', 'Montenegro', 'Uganda', 'Malaysia', 'Iraq', 'Madagascar', 'Algeria', 'Zimbabwe', 'Haiti', 'Estonia', 'Panama', 'Cambodia', 'Chad', 'Czech Republic', 'Colombia', 'Bahrain', 'Pakistan', 'Lebanon', 'Somalia', 'Turkey', 'Turkmenistan', 'Senegal', 'Greece', 'Nepal', 'Ukraine', 'Croatia', 'Canada', 'Bolivia', 'Myanmar', 'Central African Republic', 'Tajikistan', 'Argentina', 'Bangladesh', 'Paraguay', 'Mexico', 'Peru', 'Uzbekistan', 'Thailand', 'Portugal', 'Malta', 'Libya', 'Slovenia', 'Australia', 'Kenya', 'Moldova', 'Nicaragua', 'Cameroon', 'Namibia', 'Tanzania', 'Poland', 'Sri Lanka', 'Indonesia', 'Romania', 'Serbia', 'South Africa', 'Kuwait', 'Trinidad and Tobago', 'Jamaica', 'Tunisia', 'Zambia', 'France', 'Norway', 'Belarus', 'Switzerland', 'Mauritius', 'Singapore', 'United Kingdom', 'Burkina Faso', 'Germany', 'Liberia', 'Malawi', 'Austria', 'Brazil', 'Kazakhstan', 'Ghana', 'Israel', 'South Sudan', 'China', 'Afghanistan', 'Nigeria', 'Niger', 'Chile', 'Ecuador', 'Mozambique', 'Costa Rica', 'Azerbaijan', 'Togo', 'Lesotho', 'Qatar', 'Bulgaria', 'Denmark', 'Hungary', 'Sierra Leone', 'Mongolia', 'Rwanda', 'Latvia', 'Philippines', 'Sweden', 'Uruguay', 'Guinea', 'Bhutan'}

Länder die in den World Bank data nicht enthalten sind:
- Taiwan :(
- Cyprus

In [219]:
# list of tuples (happiness report name, world bank name)
happy_country_list_renamed = [
("Swaziland", "Eswatani"),
("Macedonia", "North Macedonia"),
("Kyrgyzstan", "Kyrgyz Republic"),
("Yemen", "Yemen, Rep"),
("Gambia", "Gambia, The"),
("Ivory Coast", "Cote d'Ivoire"),
("Venezuela", "Venezuale, RB"),
("South Korea", "Korea, Rep."),
("Laos", "Lao PDR"),
("Hong Kong", "Hong Kong SAR, China"),
("Congo (Kinshasa)", "Congo, Dem. Rep."),
("Palestinian Territories", "West Bank and Gaza"),
("Congo (Brazzaville)", "Congo, Rep."),
("Iran", "Iran, Islamic Rep."),
("Egypt", "Egypt, Arab Rep."),
("Russia", "Russian Federation"),
("Slovakia", "Slovak Republic"),
("Bosnia and Herzegovina ", "Bosnia and Herzegovina"),
("Syria", "Syrian Arab Republic")]
len(happy_country_list_renamed)

for happy_name, wb_name in happy_country_list_renamed:
    for i in range(0, len(happiness["Country (region)"])):
        if happiness.loc[i, "Country (region)"] == happy_name:
            happiness.loc[i, "Country (region)"] = wb_name
        if happiness.loc[i, "Country (region)"] == "Taiwan":
            happiness.drop([i])
        if happiness.loc[i, "Country (region)"] == "Cyprus":
            happiness.drop([i])

In [220]:
# drop Taiwan and Cyprus
#happiness = happiness[happiness["Country (region)"] != "Taiwan"]

for i in range(0, len(happiness["Country (region)"])):
        print(happiness.loc[i, "Country (region)"])
happiness.head()

Finland
Denmark
Norway
Iceland
Netherlands
Switzerland
Sweden
New Zealand
Canada
Austria
Australia
Costa Rica
Israel
Luxembourg
United Kingdom
Ireland
Germany
Belgium
United States
Czech Republic
United Arab Emirates
Malta
Mexico
France
Taiwan
Chile
Guatemala
Saudi Arabia
Qatar
Spain
Panama
Brazil
Uruguay
Singapore
El Salvador
Italy
Bahrain
Slovak Republic
Trinidad and Tobago
Poland
Uzbekistan
Lithuania
Colombia
Slovenia
Nicaragua
Kosovo
Argentina
Romania
Cyprus
Ecuador
Kuwait
Thailand
Latvia
Korea, Rep.
Estonia
Jamaica
Mauritius
Japan
Honduras
Kazakhstan
Bolivia
Hungary
Paraguay
Northern Cyprus
Peru
Portugal
Pakistan
Russian Federation
Philippines
Serbia
Moldova
Libya
Montenegro
Tajikistan
Croatia
Hong Kong SAR, China
Dominican Republic
Bosnia and Herzegovina
Turkey
Malaysia
Belarus
Greece
Mongolia
North Macedonia
Nigeria
Kyrgyz Republic
Turkmenistan
Algeria
Morocco
Azerbaijan
Lebanon
Indonesia
China
Vietnam
Bhutan
Cameroon
Bulgaria
Ghana
Cote d'Ivoire
Nepal
Jordan
Benin
Congo, Rep.
Gabon
Lao PDR
South Africa
Albania
Venezuale, RB
Cambodia
West Bank and Gaza
Senegal
Somalia
Namibia
Niger
Burkina Faso
Armenia
Iran, Islamic Rep.
Guinea
Georgia
Gambia, The
Kenya
Mauritania
Mozambique
Tunisia
Bangladesh
Iraq
Congo, Dem. Rep.
Mali
Sierra Leone
Sri Lanka
Myanmar
Chad
Ukraine
Ethiopia
Eswatani
Uganda
Egypt, Arab Rep.
Zambia
Togo
India
Liberia
Comoros
Madagascar
Lesotho
Burundi
Zimbabwe
Haiti
Botswana
Syrian Arab Republic
Malawi
Yemen, Rep
Rwanda
Tanzania
Afghanistan
Central African Republic
South Sudan

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0