In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import os
import tqdm
import glob
import pandas as pd

In [4]:
df = pd.read_csv("Data/link_to_data/world_bank_data.csv")
df.head()
df["Series Name"]
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2019 [YR2019]'],
      dtype='object')

In [5]:
df = df.dropna(subset = ["Series Name"])
df = df.drop(columns=["Series Code"])

,Country Name,Country Code,Series Name,2019 [YR2019]
0,Australia,AUS,Access to electricity (% of population),100
1,Australia,AUS,Adjusted savings: carbon dioxide damage (% of ...,1.11294140526482
2,Australia,AUS,"Adolescent fertility rate (births per 1,000 wo...",10.9366
3,Australia,AUS,Adolescents out of school (% of lower secondar...,1.97146999835968
4,Australia,AUS,"Adolescents out of school, female (% of female...",2.19272994995117

In [6]:
df_pivot = df.set_index(["Country Name", "Series Name"], drop=True).unstack("Series Name")
df_pivot = df_pivot.drop(columns="Country Code")
df_pivot.columns = df_pivot.columns.droplevel(0)
#print(df_pivot.shape)
df_pivot["Country Name"] = df_pivot.index
#print(df_pivot["Country Name"])
df_pivot.reset_index(drop=True, inplace=True)#
#print(df_pivot.head())

In [214]:
df_dropped = df_pivot.dropna(axis=1, how="any")
df_dropped_2 = df_dropped.drop(columns=df_dropped.columns[(df_dropped == "..").any()])

#for i in range(0,439):
#    print(df_dropped_2.columns[i])
#df_dropped.loc[:, (df_dropped=="..").any()]
#df_dropped.drop(columns="Country Code").head()

### World Happiness Report 2019

In [9]:
happiness = pd.read_csv("Data/link_to_data/world-happiness-report-2019.csv")
happy_country_list = list(happiness["Country (region)"])

indicators_country_list = df["Country Name"].drop_duplicates()

In [12]:
intersection = set(indicators_country_list).intersection(happy_country_list)
non_intersection = set(indicators_country_list)^set(happy_country_list)
happy_non_intersection = set(happy_country_list).intersection(non_intersection)

LÃ¤nder die in den World Bank data nicht enthalten sind:
- Taiwan :(
- Cyprus

In [13]:
# list of tuples (happiness report name, world bank name)
happy_country_list_renamed = [
("Swaziland", "Eswatani"),
("Macedonia", "North Macedonia"),
("Kyrgyzstan", "Kyrgyz Republic"),
("Yemen", "Yemen, Rep"),
("Gambia", "Gambia, The"),
("Ivory Coast", "Cote d'Ivoire"),
("Venezuela", "Venezuale, RB"),
("South Korea", "Korea, Rep."),
("Laos", "Lao PDR"),
("Hong Kong", "Hong Kong SAR, China"),
("Congo (Kinshasa)", "Congo, Dem. Rep."),
("Palestinian Territories", "West Bank and Gaza"),
("Congo (Brazzaville)", "Congo, Rep."),
("Iran", "Iran, Islamic Rep."),
("Egypt", "Egypt, Arab Rep."),
("Russia", "Russian Federation"),
("Slovakia", "Slovak Republic"),
("Bosnia and Herzegovina ", "Bosnia and Herzegovina"),
("Syria", "Syrian Arab Republic")]
len(happy_country_list_renamed)

for happy_name, wb_name in happy_country_list_renamed:
    for i in range(0, len(happiness["Country (region)"])):
        if happiness.loc[i, "Country (region)"] == happy_name:
            happiness.loc[i, "Country (region)"] = wb_name
        if happiness.loc[i, "Country (region)"] == "Taiwan":
            happiness.drop([i])
        if happiness.loc[i, "Country (region)"] == "Cyprus":
            happiness.drop([i])

In [15]:
# drop Taiwan and Cyprus
#happiness = happiness[happiness["Country (region)"] != "Taiwan"]
happiness.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0